*,*::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p, h1 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

h1 {
  padding: 16px 0;
  text-align: center;
}

.container {
  align-items: center;
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 2fr;
  /* brute force left margin */
  margin: 0 40px 0 90px; 
}

#binaryInput, #decimalOutput {
  font-weight: bold;
  text-align: center;
  width: 48%;
}

.italic {
  font-size: 12px;
  font-style: italic;
}
